.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;

  button {
    background-color: transparent;
    border: 0;
    font-weight: 600;
    color: var(--highlight);
    margin: 4rem 0;
    transition: filter 0.2s ease;

    &:hover{
      filter: brightness(0.7);
    }
  }
}

